---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About me, the astronought">
  <main>
    <h1>
      I am <span class="text-gradient">deadlyhifi</span>, and an <span
        class="text-gradient">astronought</span
      >
    </h1>

    <h2>…and I'm learning <a href="https://astro.build">Astro</a></h2>

    <p>
      I am working through Astro's introductory tutorial. This is the second
      page on my website, and it's the first one I built myself!
    </p>

    <p>
      This site will update as I complete more of the tutorial, so keep checking
      back and see how my journey is going!
    </p>
  </main>

  <style></style>
</Layout>
