---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog from the astronought">
  <main>
    <h1>
      I am <span class="text-gradient">blog</span>
    </h1>

    <p>TBC</p>
  </main>

  <style></style>
</Layout>
