<nav>
  <a href="/">Home</a>
  <a href="/oink/">Oink</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
</nav>

<style>
  nav {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
  }
  a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in;

    &:hover {
      font-weight: 600;
    }
  }
</style>
